<% provide(:title, 'About') %>
<div class='jumbotron-about'>
</br></br>
<div class='logo'><%= image_tag("logo.png", alt: "Crooked/Shift") %> </div>
</br></br>
</div>
<body>
<div class= "about-nav">
<!-- <div> -->
<ul><a name="nav">
	<li><A HREF="#mission">Mission Statement</a></li>
	<li><A HREF="#mast">Masthead</a></li>
	<li><A HREF="#schedule">Publication Schedule</a></li>
	<li><A HREF="#issn">ISSN and Copyright</a></li></a>
</ul>

<h1 class="cover-sub-head"><a name="mission"><a href="#nav">Mission Statement</a></a></h1>
<p class="quote">“Style is to forget all styles.”</p>
<p class="quote-sig">—Jules Renard</p>
</br>
<p class="lead">Welcome to Crooked/Shift, an online literary publisher dedicated to horror, humor, the absurd, and the strange. A less than class act to be published quarterly, featuring flash and short fiction, as well as prose poetry, essays, film and book reviews.</p>
<p class="lead">Crooked/Shift is about the Literary Underdog.</p>
<p class="lead">Our mission is to spotlight the very best of what commonly goes unpublished: works saddled deep within literary tropes that give the typical MFA editor pause—possibly to reach for the desk drawer Xanax or handgun. Our vision is of a world where literature doesn’t need to be quite…so…stuffy. Surely, there’s a space between quality and the modern standard for the delightfully macabre or the experimental satire or the deliciously poppy. There was certainly room for Poe. And Kafka. Burroughs, Hawthorne, Bradbury, and Pynchon. Hell, the Editor-At-Gods-That-Be recently gave Stephen King the National Book Awards Medal for Distinguished Contribution to American Letters. Who says the subtext of a story is more important than the flesh eating alien parasite it's attached to? You? Well, perhaps you're in the wrong place.</p>

<h1 class="cover-sub-head"><A name="mast"><a href="#nav">Masthead</a></a></h1>

<h3 class="inner-head">Matt Rotman</h3>
<p class="lead">
Editor-in-Chief</br></br>
Matt Rotman's poetry and short stories have been featured in Diabolique Magazine, Aberration Labyrinth, Euphemism, and the Twelve Winters Press anthology, [Ex]tinguished & [Ex]tinct: An Anthology of Things That No Longer [Ex]ist. His screenplay, Casa Infierno, was made into a student film in 2006. A former stand up comedian, staff reporter, and speechwriter for the Department of Defense, Matt currently resides in San Diego, California, pondering if there are, indeed, any differences in those three jobs.</br></p>

<h3 class="inner-head">Brandon Hensley</h3>
<p class="lead">
Contributing Editor</br></br>
Brandon Hensley is an adjunct professor in the Department of Communication & Political Science at Millikin University and doctoral student of Higher Education at Illinois State University. His articles have been published in The Journal of Learning in Higher Education, The Adjunct Project, and the Florida Communication Journal. Brandon spends his time misbehaving at academic conferences, reading and writing ethnography, and making fun of his pets with his partner, Melissa. His guilty writing pleasures are rhetorical/media criticism, haiku, and norm-disruptive forms of academic writing that blend the evocative with the self-reflexive.</br></p>

<h3 class="inner-head">Travis May</h3>
<p class="lead">
Contributing Editor, Webmaster General</br></br>
Travis May is an associate in the research department at the Federal Reserve Bank of Saint Louis; working for the man, 9-2-5. Travis writes computer programs and personal essays on identity, and the struggle of provincialism against wanderlust when not at the mercy of a nihilistic fit.</p>

<h1 class="cover-sub-head"><a name="schedule"><a href="#nav">Publication Schedule</a></a></h1>
<p class="lead">Crooked/Shift is published quarterly: January, April, July, and October.</p>

<h1 class="cover-sub-head"><a name="issn"><a href="#nav">ISSN and Copyright</a></a></h1>
<p class="lead">© 2014 Crooked/Shift</br>
ISSN 2333-973X</br>
Material may not be reproduced without written consent. For more information, please contact
<a href="mailto:contact@crooked-shift.org">contact@crooked-shift.org</a>.</br></br>
ALL RIGHTS REVERT BACK TO THE AUTHOR</p>
</div>
</body>
