<% provide(:title, 'About') %>
<div class='jumbotron-about'>
<!-- <h1 class="cover-sub-head">About</h1> -->
<p class="lead">Crooked/Shift is an online literary journal focused on short stories, flash fiction, and essays.
Featured genres include horror, pulp, existential, realism, kafka; really, anything could be printed.</br></br>
We want to give unpublished and seasoned writers alike an opportunity to compose relaxed, and unpretentious manuscripts. Writers who are writing for themselves. Things that get lost in the shuffle. Tschotske.</p>
</div>
<div class= "inner-nav">
<ul>
	<li>Masthead</li>
	<li>Colophon</li>
	<li>Publication Schedule</li>
	<li>ISSN</li>
</ul>
</div>
