<% provide(:title, 'About') %>
<div class='jumbotron-about'>
<!-- <h1 class="cover-sub-head">About</h1> -->
<!-- <p>Crooked/Shift is an online literary journal focused on short stories, flash fiction, and essays.
Featured genres include horror, pulp, existential, realism, kafka; really, anything could be printed.</br></br>
We want to give unpublished and seasoned writers alike an opportunity to compose relaxed, and unpretentious manuscripts. Writers who are writing for themselves. Things that get lost in the shuffle. Tschotske.</p> -->
</br></br>
<div class='logo'><%= image_tag("logo.png", alt: "Crooked/Shift") %> </div>
</br></br>
</div>
<!-- <div class= "inner-nav">
<ul>
	<li>Masthead</li>
	<li>Colophon</li>
	<li>Publication Schedule</li>
	<li>ISSN</li>
</ul> -->
<div>

<h1 class="cover-sub-head">Masthead</h1>

<h3 class="inner-head">Matt Rotman</h3>
<p class="lead">
Editor-in-Chief</br></br>

Matt Rotman's poetry and short stories have been featured in Diabolique Magazine, Aberration Labyrinth, Euphemism, and the Twelve Winters Press anthology, [Ex]tinguished & [Ex]tinct: An Anthology of Things That No Longer [Ex]ist. His screenplay, Casa Infierno, was made into a student film in 2006. A former stand up comedian, staff reporter, and speechwriter for the Department of Defense, Matt currently resides in San Diego, California, pondering if there are, indeed, any differences in those three jobs.</br></p> 

<h3 class="inner-head">Brandon Hensley</h3>
<p class="lead">
Contributing Editor</br></br>

Brandon Hensley is an adjunct professor in the Department of Communication & Political Science at Millikin University and doctoral student of Higher Education at Illinois State University. His articles have been published in The Journal of Learning in Higher Education, The Adjunct Project, and the Florida Communication Journal. Brandon spends his time misbehaving at academic conferences, reading and writing ethnography, and making fun of his pets with his partner, Melissa. His guilty writing pleasures are rhetorical/media criticism, haiku, and norm-disruptive forms of academic writing that blend the evocative with the self-reflexive.</br></p>

<h3 class="inner-head">Travis May</h3>
<p class="lead">
Contributing Editor, Webmaster General</br></br>

Travis May is an associate in the research department at the Federal Reserve Bank of Saint Louis; he quite literally works for the man. Travis writes computer programs and personal essays on identity, and the struggle of provincialism against wanderlust when not at the mercy of a nihilistic fit.</p>
</div>
