<% provide(:title, 'Archived Issues') %>
<h2 class="lead-sub-head">Download Issue #1</h2>
<%= link_to image_tag("crookedshift.png", alt: "Issue 1"), image_path('Issue.pdf') %>
<br>
<h2 class="lead-sub-head">Download Issue #2</h2>
<%= link_to image_tag("crookedshift2.jpg", alt: "Issue 2"), image_path('Issue2.pdf') %>
