<% provide(:title, 'Contact') %>
<h1 class="cover-sub-head">Contact</h1>
<p class="lead">
  For general questions: <a href="mailto:contact@crooked-shift.org">contact@crooked-shift.org</a>.
</p>
<p class="lead">
  Letters to the editor: <a href="mailto:editor@crooked-shift.org">editor@crooked-shift.org</a>.
</p>
<p class="lead">
  Art submissions: <a "mailto:artwork@crooked-shift.org">artwork@crooked-shift.org</a>.
</p>
<p class="lead">
  Follow us on twitter: <a href="https://twitter.com/CrkdShift">@CrkdShift</a>.
</p>
<p class="lead">
  Friend us on <a href="http://www.facebook.com/crooked.shift">Facebook</a>.
</p>
