<% provide(:title, 'Current Issue') %>
<h2 class="lead-sub-head">NOW ACCEPTING SUBMISSIONS</h2>
<p class="lead-sub">We are currently taking submissions for our first issue. Click below for details on how to submit your manuscript.</p>
<p>
<a href="/submission" class="btn btn-lg btn-default">More Details Here!</a>
</p>