<% provide(:title, 'Current Issue') %>
<h2 class="lead-sub-head">Issue #1</h2>
<li><%= link_to image_tag(asset-data-url("crookedshift_cover_png_lores.png"), alt: "Issue #1 Cover"),'/public/issue1.pdf' %></li>
<p>

</p>