<% provide(:title, 'Donate') %>
<h1 class="cover-sub-head">Donate</h1>
<p class="lead">Crooked/Shift is a lean operation. Ergo, we have a lean budget and little faculty to pay the authors whom we want to publish. Your support can change that. Please use the PayPal button to donate.</p>
<p>
<script src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=contact@crooked-shift.org"
    data-button="donate"
    data-name="Donate"
    data-quantity="1"
    data-shipping="0"
    data-tax="0"
    data-callback="http://www.crooked-shift.org/"
></script>
</p>
