<% provide(:title, 'Donate') %>
<h1 class="cover-sub-head">Donate</h1>
<p class="lead">Crooked/Shift is a lean operation. Ergo, we have a lean budget and little faculty to pay the authors that we want to publish. Your support can change that.</p>
