<% provide(:title, 'Cover') %>
<div class="jumbotron">
</br>
</br>
	<div class='logo'><%= image_tag("logo.png", alt: "Crooked/Shift") %> </div>
</br>
</br>
</div>
<p class="lead">Crooked/Shift is an online literary journal focused on short stories, flash fiction, and essays.
Featured genres include horror, pulp, existential, realism, kafka; really, anything could be printed.</br></br>
We want to give unpublished and seasoned writers alike an opportunity to compose relaxed, and unpretentious manuscripts. Writers who are writing for themselves. Things that get lost in the shuffle. Tschotske.</p>

