<% provide(:title, 'Cover') %>
<div class="jumbotron">
</br>
</br>
	<div class='logo'><%= image_tag("logo.png", alt: "Crooked/Shift") %> </div>
</br>
<h1 class="lead-announce-head"><%= link_to "Volume 1: Issue 2", image_path('Issue2.pdf') %></h1>
</br>
</div>
<!-- <p class="quote">“Style is to forget all styles.”</p>
<p class="quote-sig">—Jules Renard</p>
</br>
<p class="lead">Welcome to Crooked/Shift, an online literary publisher dedicated to horror, humor, the absurd, and the strange. A less than class act to be published quarterly, featuring flash and short fiction, as well as prose poetry, essays, film and book reviews.</p>
<p class="lead">Crooked/Shift is about the Literary Underdog.</p>
<p class="lead">Our mission is to spotlight the very best of what commonly goes unpublished: works saddled deep within literary tropes that give the typical MFA editor pause—possibly to reach for the desk drawer Xanax or handgun. Our vision is of a world where literature doesn’t need to be quite…so…stuffy. Surely, there’s a space between quality and the modern standard for the delightfully macabre or the experimental satire or the deliciously poppy. There was certainly room for Poe. And Kafka. Burroughs, Hawthorne, Bradbury, and Pynchon. Hell, the Editor-At-Gods-That-Be recently gave Stephen King the National Book Awards Medal for Distinguished Contribution to American Letters. Who says the subtext of a story is more important than the flesh eating alien parasite it's attached to? You? Well, perhaps you're in the wrong place.</p>
</br> -->
<h2 class="lead-sub-head">NOW ACCEPTING SUBMISSIONS</h2>
<p class="lead">Our next issue is slated for January, 2015. If you’re interested in submitting, please click below for details on how to submit your manuscript. We accept admissions on a rolling basis.</p>
<p>
<a href="/submission" class="btn btn-lg btn-default">More Details Here!</a>
</p>
