<% provide(:title, 'Cover') %>
<div class='logo'><%= image_tag("logo.png", alt: "Crooked/Shift") %> </div>
<!-- <h1 class="cover-heading">CROOKED/Shift</h1> -->
<p class="lead">Crooked/Shift is an online literary journal focused on short stories, flash fiction, and essays.
Featured genres include horror, pulp, existential, realism, kafka; really, anything could be printed.</br></br>
We want to give unpublished and seasoned writers alike an opportunity to compose relaxed, and unpretentious manuscripts. Writers who are writing for themselves. Things that get lost in the shuffle. Tschotske.</p>
<h2 class="lead-sub-head">NOW ACCEPTING SUBMISSIONS</h2>
<p class="lead-sub">We are currently taking submissions for our first issue. Click below for details on how to submit your manuscript.</p>
<p>
<a href="/submission" class="btn btn-lg btn-default">More Details Here!</a>
</p>
