<% provide(:title, 'Cover') %>
<div class="jumbotron">
</br>
</br>
	<div class='logo'><%= image_tag("logo.png", alt: "Crooked/Shift") %> </div>
</br>
<h1 class="lead-announce-head"><%= link_to "Volume 1: Issue 2", image_path('Issue2.pdf') %></h1>
</br>
</div>
<!-- <p class="quote">“Style is to forget all styles.”</p>
<p class="quote-sig">—Jules Renard</p>
</br>
<p class="lead">Welcome to Crooked/Shift, an online literary publisher dedicated to horror, humor, the absurd, and the strange. A less than class act to be published quarterly, featuring flash and short fiction, as well as prose poetry, essays, film and book reviews.</p>
<p class="lead">Crooked/Shift is about the Literary Underdog.</p>
<p class="lead">Our mission is to spotlight the very best of what commonly goes unpublished: works saddled deep within literary tropes that give the typical MFA editor pause—possibly to reach for the desk drawer Xanax or handgun. Our vision is of a world where literature doesn’t need to be quite…so…stuffy. Surely, there’s a space between quality and the modern standard for the delightfully macabre or the experimental satire or the deliciously poppy. There was certainly room for Poe. And Kafka. Burroughs, Hawthorne, Bradbury, and Pynchon. Hell, the Editor-At-Gods-That-Be recently gave Stephen King the National Book Awards Medal for Distinguished Contribution to American Letters. Who says the subtext of a story is more important than the flesh eating alien parasite it's attached to? You? Well, perhaps you're in the wrong place.</p>
</br> -->
<h2 class="inner-head">Editor's Note</h2>
<p class="lead">Dear Readers,</br></br>
There's no way getting around it: I think this is a damn good issue. Biased? Perhaps. But I believe
each entry will speak for itself. And as second issues go, it bests the old and promises good things
for the future.</br></br>
(By the way, that was my best Keith Morrison-esque Dateline intro I could muster.)</br></br>
There are a couple notable absences here, one being Lobb Rittle's <em>Most Unusual</em> column, though he
shall enlighten us with cinema's weirdest next time around. The other is a complete roster of male
writers. When I started this enterprise, I was concerned with the inevitable lack of diversity, given
the genre. Like it or not, the horror/pulp genre doesn't surround itself with a legion a female writers.
So it's my pleasure to announce the authors presented here in this issue are almost a 50/50 split. I
hope this trend continues.</br></br>
Alas, I will keep this short as to not delay getting this issue out on time, but I wanted to again thank
everyone who submitted, whether you were accepted or not. We enjoy reading everything, and one
of the worst activities I can think of (as a writer myself) is declining works by other writers. Please
keep 'em coming!</br></br>

And, of course, have a wonderfully terrifying Halloween.</br>
Matt Rotman</br>
Editor-in-Chief </p>

<h2 class="lead-sub-head">NOW ACCEPTING SUBMISSIONS</h2>
<p class="lead">Our next issue is slated for January, 2015. If you’re interested in submitting, please click below for details on how to submit your manuscript. We accept submissions on a rolling basis.</p>
<p>
<a href="/submission" class="btn btn-lg btn-default">More Details Here!</a>
</p>
