<% provide(:title, 'Cover') %>
<h1>Crooked/Shift</h1>
<p>Crooked/Shift is an online literary journal focused on short stories, flash fiction, and essays.</br>
Featured genres include horror, pulp, existential, realism, kafka; really, anything could be printed.</br>
We want to give unpublished and seasoned writers alike an opportunity to compose relaxed, and unpretentious manuscripts. Writers who are writing for themselves. Things that get lost in the shuffle. Tschotske.</p>
