<% provide(:title, 'Submission') %>
<h1 class="cover-sub-head">Submissions</h1>

<p class="lead">First off, let us thank you for your interest in Crooked Shift. As this is a brand-new and (soon-to-be?) burgeoning online literary publication, we are proud to welcome our first call for submissions. Our goal is relatively straightforward, I think: to give unpublished and seasoned writers alike the opportunity to relax. That’s right. If you want a shot at publication here, it’d certainly behoove you to check your pretensions and elitism at the door. While we take the written screed fairly seriously in these parts, we also understand the nervous, hair-eating trap the publishing world can bestow onto writers, new or pro.</br></br> 

The way I surmise this phenomenon is simple: I’m pretty confident I could take the exact text of “Hills Like White Elephants,” send it to one hundred publishers, and as if by scientific edict, seventy-five percent of the rejection letters would invariably say, “Trying too hard.” Twenty-four percent of the rejection letters wouldn’t say anything at all. But that one, lone independent online journal struggling to attract any submissions at all said they’d happily publish it—caveat being you won’t get paid, of course. (Well, sorry to say, for the time being, we won’t be paying you either. However, that could change as things progress, so stay tuned.)</br></br>

The bottom line is what we’re looking to desperately avoid: a writer trying to impress us. The fear of a submissions editor can stifle a good story far more quickly than shit-piss writing. Simply put, we are interested in the story.</br></br>

So what kinds of stories are we interested in?</br></br>

Look, if you send us the twenty-first century equivalent to “The Open Boat,” we’re going to publish it. But our (do I dare say?) broader focus is less literary. We want to champion writers commonly ignored by the MFA editorial staffs preoccupied with Foucault and their thoroughly pervasive “how the fuck am I going to pay these student loans” attitudes. We want the stories that often get lost in that shuffle. I know they’re out there. I’ve written and peer reviewed many myself. And the most commonly ignored type of story of all is the Horror Story.</br></br>

I know the horror writers who’ve stumbled upon this site can only shake their heads—having been force fed the literary triumphs of “Young Goodman Brown” and “The Tell-Tale Heart” in serious academia, only to be labeled blasphemous or not serious or worse, POPULAR FICTION! by the Editor-At-Gods-That-Be when trying it out on their own. Well, folks, you are welcomed here. Send us your horror. Send us your absurd. Send us your weird and satirical tangents. Got a half drunken rewrite of Candide sitting around? We want to take a look. Ever pondered the Universal Injustice as to why The Toxic Avenger will never be inducted into the American Film Institute’s Top 100 Films—chances are you have an essay laying around we want to share with the world.</p></br>

<h2 class="inner-head">Submission Guidelines</h2>
<p class="inner-head">All the above being said, let’s set a few ground rules as to not invite all-out anarchy, shall we?</p>
</br>

<p class="lead">1) We are looking primarily for short stories, flash fiction, and essays. However, if you have a great prose poem brooding in your desk drawer, send it our way. You won’t be discriminated against. Though we’re avoiding all-out poetry for the time being due to some relative sense of focus, we may consider it in the future. I will say though: if you decide to bombard us with a bunch of original, dirty limericks—I’d make damn sure they found a home somewhere. Unfortunately, we will not be accepting any novel excerpts.</br></br>
2) Word Length. Listen, I don’t really give a damn. But I ain’t publishin no novellas here neither. If you’re going over 12,000 words, use sound judgment. Do you really need that paragraph about how your protagonist couldn’t decide between potato chips or licorice at 7-Eleven; or the subtle differences in backstory between a “wake-and-bake” and simply waking up stoned out of your gourd?  We’re all literature majors here. We get it.</br></br>
3) Single or double-spacing is acceptable.</br></br>
4) In terms of essays, I’m particularly interested in the scholastic meanderings of gothic horror, literary horror and film tropes, (thoughtful) film reviews, camp and cult, popular horror fiction vs. literary fiction, and even pedagogical works disseminating all of the above (horror lit and film as a teaching device, creative writing instruction, etc.).</br></br>
5) We will use <%= link_to "Submittable",    'http://www.submittable.com' %> for all submissions. We will not accept or even open submissions sent in emails or attachments. However, if you have any questions at all—or if you experience any problems with Submittable, please don’t hesitate to send us an email. Unlike most publishers, we won’t hold this against you. Shit happens. You’ll get a fair shot based on your work—not because Skynet suddenly decided to go live the moment you uploaded your short story.</br></br>
6) Please allow up to 4-6 weeks for a decision on your submission. Honestly, as things get started here, you may even hear back in a day or two as we’re sittin here twiddlin our thumbs waitin for submissions. If it’s been longer than two months, prod us with a quick email. No hard feelings.</br></br>
7) There’s a Notes section in Submittable. This is where a lot of writers fill in the space with a cover letter or author bio. Let’s just do away with that trite cover letter garbage. There’s nothing more nerve-wracking or a waste of time than a cover letter. I’d rather you just unartfully explain to me who you are and/or what you’re writing about. Or don’t put anything at all. It won’t affect your submission one way or the other. Author bios are appreciated, but in the long run, I won’t even be asking for them unless your piece is accepted.</br></br>
8) IF ACCEPTED. Crooked Shift reserves the right to edit your work as we see fit. As noted, there is no payment for publication at this time. However, you will have to sign a contract giving Crooked Shift First North American Serial Rights (FNASR) to your work. We will not accept any work that has been previously published, whether it be another journal, book, anthology, blog post, Facebook, etc. If you have any questions about this, please ask.</br></br>
9) And last but not least, we do accept simultaneous submissions. If your work gets accepted elsewhere, just shoot us an email or withdraw through Submittable.</br></br>

We look forward to reading your work.</p>
</br>
<p class = "ed-sig">Matt Rotman</p>
<p class = "ed-sig">Editor-in-Chief</p>
<p class = "ed-sig">Crooked Shift</p>

<h2 class="lead-sub-head"><%= link_to "SUBMIT HERE", 'https://crookedshift.submittable.com/submit' %></h2>

<div class="col-xs-6 col-sm-3 sidebar-nav" id="sidebar" role="navigation">
<%= link_to "SUBMIT HERE", 'https://crookedshift.submittable.com/submit' %>
</div>	