<div class="inner">
  <ul class = "mastfoot-nav">
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
  </ul>
  <ul class = "mastfoot-form">    
      <li>Sign up for our newsletter: 
      		<li><input type="email" placeholder="Your email"></li>
      		<li><input type='submit' class="btn btn-lg btn-default"></li>
  </ul>
  <ul class = "mastfoot-cr">
      <li>Copyright 2014 <a href="http://crooked-shift.org">Crooked/Shift</a>.</li>
  </ul>
</div>