<div class="inner">
  <ul class = "mastfoot-nav">
      <li><%= link_to "About",   '/static_pages/about' %></li>
      <li><%= link_to "Help", '/static_pages/help' %></li>
  </ul>
  <ul class = "mastfoot-cr">
      <li>Copyright 2014 <a href="http://crooked-shift.org">Crooked/Shift</a>.</li>
  </ul>
</div>