<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">C/Shft</h3>
      <ul class="nav masthead-nav">
		<li><%= link_to "Cover",    '/static_pages/home' %></li>
		<li><%= link_to "Submissions",    '/static_pages/submission' %></li>
		<li><%= link_to "Contact", '/static_pages/contact' %></li>
  	  </ul>
  </div>
</div>